html {
  font-family: 'Gruppo', cursive;
}

#beer-img {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1040px;
    height: 250px;
}

img {
    width: 100px;
    height: 250px;
    margin: 10px;
    border-color: red 2px;
}

/*@media all and (min-width: 480px) {
  .grid-row-sm {
    flex-direction: row;
  }
}
@media all and (min-width: 720px) {
  .grid-row-md {
    flex-direction: row;
  }
}*/
@media all and (min-width: 960px) {
  #beer-img {
    flex-direction: row;
  }



